.navigationContainer {
  position: fixed;
  top: 40px;
  right: 0px;
  width: 200px;
  height: 100vh;
  text-align: center;
  transition: 1s ease-in-out;
  transform: translate(100%, 0);
  background-color: white;
  padding-top: 20px;
  border-left: 1px solid #3368a3;
  z-index: 10;
}

.navigationContainer a {
  display: block;
  padding: 5px 15px;
  border-bottom: 1px solid #3368a3;
  color: #3368a3;
  margin: 10px 0;
}

li {
  list-style-type: none;
}

.navigationContainer.active {
  transform: translate(0%, 0%);
  z-index: 9;
}

.navBar-menu {
  position: fixed;
  top: 10px;
  right: 60px;
  color: #3368a3;
  letter-spacing: 2px;
}

.box-description {
  padding: 10px;
  color: #1e3c5f;
}

.box-link {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
}

.box-link a {
  color: #1e3c5f;
  text-align: center;
  border: none;
  font-size: 20px;
}

.box-contact {
  font-size: 12px;
}

.box-contact a {
  color: #1e3c5f;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  color: #3368a3;
  z-index: 11;
  box-shadow: 0 -3px 11px 0 #1e1f23;
}

.navBar-contact {
  padding-top: 10px;
  padding-left: 10px;
}

.navBar-contact span {
  padding: 0 10px;
  cursor: pointer;
}

.navBar-contact i {
  color: #3368a3;
  display: none;
  padding: 0 10px;
  font-size: 20px;
}

@media (min-width: 265px) {
  .navBar-contact i {
    display: inline;
  }
}

.navBar-contact i:hover, .navBar-contact span:hover {
  color: black;
}

.container-box {
  position: fixed;
  top: 0;
  right: 15px;
  width: 30px;
  height: 30px;
}

.box {
  display: block;
  width: 30px;
  height: 40px;
  position: relative;
  display: block;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.box div {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 3px;
  background-color: #3368a3;
  transition: 1s ease-in-out;
}

.box div::before {
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  left: 0;
  background-color: #3368a3;
  width: 30px;
  height: 3px;
  transition: 0.7s ease-in-out;
}

.box div::after {
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #3368a3;
  transition: 0.7s ease-in-out;
}

.box.active div::before {
  transform: translate(10px);
}

.box.active div::after {
  transform: translate(20px);
}

.navigation-container {
  position: fixed;
  top: 0px;
  box-shadow: 0 -3px 11px 0 #1e1f23;
  z-index: 999;
  background-color: #fff;
  width: 100%;
}

.navigationWrapper {
  display: grid;
  position: sticky;
  top: 0;
  padding: 0px;
  grid-template-rows: repeat(1, 60px);
  grid-template-columns: repeat(5, 1fr);
  max-width: 1240px;
  margin: 0 auto;
}

.navigationItem {
  list-style: none;
  font-size: 16px;
  text-align: center;
  background-color: white;
  margin: 10px 10px;
  padding-top: 5px;
  border-radius: 10px;
}

.navigationItemLinkActive {
  color: #1b4778;
  font-weight: 700;
}

.navigationItemLink {
  text-decoration: none;
  color: black;
}

.navigationItem :hover {
  color: #6fa0da;
}

.nav-button__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
}

.nav-button {
  text-align: center;
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #ebf0f0;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #ccdef1;
  transition: 1s ease-in-out;
  width: 100%;
  font-weight: 400;
  transition: .3s;
}

.nav-button :hover {
  text-decoration: underline;
  color: white;
}

.nav-button .navigationItemLink2 {
  color: black;
}

@media (min-width: 600px) {
  .nav-button {
    font-size: 16px;
    padding: 8px 30px;
  }
}

@media (min-width: 700px) {
  .nav-button {
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  .nav-button {
    font-size: 22px;
    padding: 8px 20px;
  }
}

@media (min-width: 700px) {
  .nawigationWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px;
  }
}

@media (min-width: 1100px) {
  .navigationItem {
    font-size: 18px;
    padding-top: 5px;
  }
}
