
/* text suwaka */
p{
    text-align:center;
    font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#ccc;
}
/* pozyja suwaka */
#main{
	height:200px;
	position:relative;
	
}

.note{
	padding:0 20px;
	font-size:12px;
}

/* Wielkosc slidera */
#defaultSlider{ 
	width:300px;
	margin-bottom:20px;
	z-index: 2;
}
.suwak__div {
	z-index: 1;
	position: absolute;
	top: 25px;
	left: 3px;
	width: 5px;
	height: 15px;
	background-color: black;
	font-size: 12px;
}
#currentValue {
	margin-left: 10px;
	font-weight: 500;
	font-size: 10px;
}
.currentValue {
	font-size: 10px;
}
.suwak__div0 {
	@extend .suwak__div;
	top: 25px;
	left: 40px;
}
.suwak__div3 {
	@extend .suwak__div;
	top: 25px;
	left: 40px;
}
.suwak__div6 {
	@extend .suwak__div;
	top: 25px;
	left: 75px;
}
.suwak__div9 {
	@extend .suwak__div;
	top: 25px;
	left: 112px;
}
.suwak__div12 {
	@extend .suwak__div;
	top: 25px;
	left: 148px;
}
.suwak__div15 {
	@extend .suwak__div;
	top: 25px;
	left: 184px;
}
.suwak__div18 {
	@extend .suwak__div;
	top: 25px;
	left: 220px;
}
.suwak__div21 {
	@extend .suwak__div;
	top: 25px;
	left: 256px;
}
.suwak__div0 {
	@extend .suwak__div;
	top: 25px;
	left: 292px;
}
.suwak__div > div {
	margin-left: 8px;
}