

.nawigationWrapper {
    display: grid;
    padding: 0px;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(2, 1fr);
}


.navigationItem {
    list-style: none;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgb(19, 103, 138);
    background-color: rgb(95, 193, 235);

        &LinkActive {
            font-weight: 700;
        }

        &Link {
            text-decoration: none;
            color: black;
        }
}


@media(min-width: 700px) {
    .nawigationWrapper {
        display: inline-block;
        position: fixed;
        width: 1fr;
    }

    .navigationItem {
        display: inline-block;
        width: 16vw;
        height: 50px;
        text-align: center;
        border: 1px solid rgb(19, 103, 138);
        background-color: rgb(95, 193, 235);
        
    
    }
    .navigationItemLink {
        margin: 0 auto;
    }
}

@media(min-width: 1100px) {
    .navigationItem {
        font-size: 18px;
    }
}