

.nawigationWrapper {
    display: grid;
    padding: 0px;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(2, 1fr);
}


.navigationItem {
    list-style: none;
    font-size: 16px;
    text-align: center;
    background-color: rgba(86, 143, 211, 0.85);
    border: 10px solid #a6c2e2;

    padding-top: 5px;
        &LinkActive {
            font-weight: 700;
        }

        &Link {
            text-decoration: none;
            color: black;

        }
        :hover {
            font-weight: 700;
        }
}
.hoverr {
        :hover{
        font-weight: 700;
    }
.navigationItemLink2 {
    color: black;
};
}


@media(min-width: 700px) {
    .nawigationWrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px;
    }

}

@media(min-width: 1100px) {
    .navigationItem {
        font-size: 18px;
        padding-top: 10px;

    }
    .navigationItemLink {
    }
}