

.navigationContainer {
    position: fixed;
    top:40px;
    right: 0px;
    width: 200px;
    height: 100vh;
    text-align: center;
    transition: 1s ease-in-out;
    transform: translate(100%,0);
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    border-left: 1px solid #3368a3;
    z-index: 10;
    a {
        display: block;
        padding: 5px 15px;
        border-bottom: 1px solid #3368a3;
        color: #3368a3;
        margin: 10px 0;
    }
 }
    li {
       list-style-type: none;
    }


.navigationContainer.active {
    transform: translate(0%, 0%);
    z-index: 9;
}

.navBar-menu {
    position: fixed;
    top: 10px;
    right: 60px;
    color: #3368a3;
    letter-spacing: 2px;
}
.box-description {
    padding: 10px;
    color: #1e3c5f
}
.box-link {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
   a {
       color: #1e3c5f;
       text-align: center;
       border: none;
       font-size: 20px;
   }
}
.box-contact {
    font-size: 12px;
   a{
    color: #1e3c5f;
   }
}
.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #3368a3;
    z-index: 11;
    box-shadow: 0 -3px 11px 0 #1e1f23;
}
.navBar-contact {
    padding-top: 10px;
    padding-left: 10px;
    
    span {
        padding: 0 10px;
        cursor: pointer;
    }
 

    i {
        color:#3368a3;
        display: none;
        padding: 0 10px;
        font-size: 20px;
      
        @media(min-width: 265px){
            display: inline;
        }
    }
    i:hover, span:hover {
            color: black;
    }
 
}
.container-box {
    position: fixed;
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
  
}
.box {
    display: block;
    width: 30px;
    height: 40px;
    position: relative;
    display: block;
    transition: 1s ease-in-out;
    overflow: hidden;

    div {
        position: absolute;
        top: 10px;
        width: 30px;
        height: 3px;
        background-color:#3368a3;
        transition: 1s ease-in-out;

    }
    div::before {
        position: absolute;
        content: "";
        display: block;
        top: 10px;
        left: 0;
        background-color: #3368a3;
        width: 30px;
        height: 3px;
        transition: 0.7s ease-in-out;

    }
    div::after {
        position: absolute;
        content: "";
        display: block;
        top: 20px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: #3368a3;
        transition: 0.7s ease-in-out;

    }
}
.box.active {
    div::before {
        transform: translate(10px)
    }
    div::after {
        transform: translate(20px)
    }
}







.navigation-container {
    position: fixed;
    top: 0px;
    box-shadow: 0 -3px 11px 0 #1e1f23;
    z-index: 999;
    background-color: #fff;
    width: 100%;
}

.navigationWrapper {
    display: grid;
    position: sticky;
    top: 0;
    padding: 0px;
    grid-template-rows: repeat(1, 60px);
    grid-template-columns: repeat(5, 1fr);
    max-width: 1240px;
    margin: 0 auto;
}


.navigationItem {
    list-style: none;
    font-size: 16px;
    text-align: center;
    background-color: white;
    
    margin: 10px 10px;
    padding-top: 5px;
    border-radius: 10px;
 
        &LinkActive {
            color: #1b4778;
            font-weight: 700;
        }

        &Link {
            text-decoration: none;
            color: black;
            

        }
        :hover {
            color: #6fa0da;
        }
    }
    
.nav-button__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #1b4778;
    padding: 10px;
    
}
.nav-button {
    text-align: center;
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #3368a3;
    font-size: 14px;
    cursor: pointer;
    transition: 1s ease-in-out;
    width: 100%;

    :hover {
        text-decoration: underline;
    }
    .navigationItemLink2 {
        color: white;
    };

    @media(min-width: 600px) {
        font-size: 16px;
        padding: 8px 30px;
    }
    @media(min-width: 700px) {
        font-size: 20px;
    }
    
    @media(min-width: 1100px) {
        font-size: 22px;
        padding: 8px 20px;
    }
}


@media(min-width: 700px) {
    .nawigationWrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px;
    }

}

@media(min-width: 1100px) {
    .navigationItem {
        font-size: 18px;
        padding-top: 5px;

    }

}