<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <script>
            // let i=0; wyszukiwanie tekstu w tablicy
            // var text = 'ala ma kota a kot ma ale'
            // var table = ['ala', 'matjavascript', 'ola  jaca']

            // table.map(poj => {
            //     let a =  poj.search('javascript')
            //     console.log(a)
            //     i++
            //     if(a>=0) {
                    
            //         console.log(a + " elementu["+i+"]");
            //         console.log(poj.substr(a,10))
            //     }
            // })

        //     let tab = [['Mateusz', "Aleksandra"], ["Jan", "koniowalski"]]
        //     console.log(tab)

        //     var tablica = [];
        //     for(var i=0; i<10; i++){
        //         tablica[i] = [];
        //     }
        //     for (var i = 0; i < 10; i++) {
        //         for (var j = 0; j < 10; j++) {
        //             tablica[i][j] = i + ', ' + j;
        //     }
        // }
        //     //
           
        //     console.log(tablica)


        //     var tabb = [ [ ["koń", "słoń"] , ["gil", "sikora"] ], [ ["róża", "tulipan"], ["dąb", "lipa"] ],['aaaaa'] ]
        //     console.log(tabb)
        //     console.log(tabb[2])
    // alert("Zwierzę - ssak pierwszy z listy: " + tabb[0][0][0]);
    // alert("Zwierzę - Ptak drugi z listy: " + tabb[0][1][1]);

    // alert("Roślina - kwiat drugi z listy: " + tabb[1][0][1]);
    // alert("Roślina - drzewo pierwsze z listy: " + tabb[1][1][0]);

        </script>
</body>
</html>