<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>


        <figure>
                <ul class="sparklist">
                  <li>
                    <a href="http://www.example.com/fruits/apples/">Apples</a>
                    <span class="sparkline">
                      <span class="index"><span class="count" style="height: 27%;">(60,</span> </span>
                      <span class="index"><span class="count" style="height: 97%;">220,</span> </span>
                      <span class="index"><span class="count" style="height: 62%;">140,</span> </span>
                      <span class="index"><span class="count" style="height: 35%;">80,</span> </span>
                  </li>
                </ul>
                <figcaption>Fruits eaten in the last 14 days by type</figcaption>
                </figure>
        <table id="q-graph">
                <caption>Quarterly Results</caption>
                <thead>
                    <tr>
                     <th></th>
                        <th class="sent">Invoiced</th>
                        <th class="paid">Collected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="qtr" id="q1">
                    <th scope="row">Q1</th>
                    <td class="sent bar"><p>$18,450.00</p></td>
                    <td class="paid bar"><p>$16,500.00</p></td>
                </tr>
                    <tr class="qtr" id="q2">
                    <th scope="row">Q2</th>
                    <td class="sent bar"><p>$34,340.72</p></td>
                    <td class="paid bar"><p>$32,340.72</p></td>
                </tr>
                <tr class="qtr" id="q3">
                    <th scope="row">Q3</th>
                    <td class="sent bar"><p>$43,145.52</p></td>
                    <td class="paid bar"><p>$32,225.52</p></td>
                </tr>
                <tr class="qtr" id="q4">
                    <th scope="row">Q4</th>
                    <td class="sent bar"><p>$18,415.96</p></td>
                    <td class="paid bar"><p>$32,425.00</p></td>
                </tr>
                </tbody>
            </table>


    <script>
            // let i=0; wyszukiwanie tekstu w tablicy
            // var text = 'ala ma kota a kot ma ale'
            // var table = ['ala', 'matjavascript', 'ola  jaca']

            // table.map(poj => {
            //     let a =  poj.search('javascript')
            //     console.log(a)
            //     i++
            //     if(a>=0) {
                    
            //         console.log(a + " elementu["+i+"]");
            //         console.log(poj.substr(a,10))
            //     }
            // })

        //     let tab = [['Mateusz', "Aleksandra"], ["Jan", "koniowalski"]]
        //     console.log(tab)

        //     var tablica = [];
        //     for(var i=0; i<10; i++){
        //         tablica[i] = [];
        //     }
        //     for (var i = 0; i < 10; i++) {
        //         for (var j = 0; j < 10; j++) {
        //             tablica[i][j] = i + ', ' + j;
        //     }
        // }
        //     //
           
        //     console.log(tablica)


        //     var tabb = [ [ ["koń", "słoń"] , ["gil", "sikora"] ], [ ["róża", "tulipan"], ["dąb", "lipa"] ],['aaaaa'] ]
        //     console.log(tabb)
        //     console.log(tabb[2])
    // alert("Zwierzę - ssak pierwszy z listy: " + tabb[0][0][0]);
    // alert("Zwierzę - Ptak drugi z listy: " + tabb[0][1][1]);

    // alert("Roślina - kwiat drugi z listy: " + tabb[1][0][1]);
    // alert("Roślina - drzewo pierwsze z listy: " + tabb[1][1][0]);

        </script>
</body>
</html>