.ViewStart__h1 {
  margin: 0px auto;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  background-color: #a6c2e2;
}

.ViewStart__h2 {
  background-color: #a6c2e2;
  font-size: 14px;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

.ViewStart_city {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 50px;
  color: white;
  padding-top: 20px;
  background-color: #1B4778;
  border-top: 4px solid rgba(86, 143, 211, 0.85);
}

.ViewStart__temp {
  font-weight: 600;
  height: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  padding-top: 20px;
  border-top: 4px solid rgba(86, 143, 211, 0.85);
  background-color: #1B4778;
}

.ViewStart__pogoda {
  background-color: #a6c2e2;
  color: black;
  font-size: 12px;
  padding-left: 5px;
}

.img svg {
  fill: red;
}

.ViewStart__img1 {
  padding: 30px 0px;
  width: 50px;
  height: 50px;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
}

.ViewStart__img {
  border: 2px solid #427cbf;
  background-color: #1b4778;
  text-align: center;
}

.ViewStart__img p {
  margin-bottom: 10px;
}

.ViewStart__imgAlert {
  background-color: rgba(171, 22, 22, 0.782);
}

.ViewStart__img > p {
  font-weight: 800;
}

.viewStart_sniezka {
  opacity: 0;
  right: 50px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.viewStart_sniezka1 {
  opacity: 0;
  right: 50px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.hoverr {
  color: red;
}

@media (min-width: 500px) {
  .viewStart_sniezka {
    opacity: 1;
    left: 50px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .viewStart_sniezka1 {
    opacity: 1;
    right: 50px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1000px) {
  .viewStart_sniezka, .viewStart_sniezka1 {
    width: 60px;
    height: 60px;
  }
  .ViewStart__h1 {
    font-size: 20px;
  }
  .ViewStart__h2 {
    font-size: 16px;
  }
  .ViewStart__pogoda {
    font-size: 14px;
  }
  .ViewStart_city {
    font-size: 22px;
  }
  .ViewStart__temp {
    font-size: 18px;
  }
  .ViewStart__img1 {
    width: 60px;
    height: 60px;
    padding: 25px 0;
  }
  .ViewStart__img p {
    font-size: 17px;
  }
  .ViewJakoscPowietrza__styleGrid {
    font-size: 20px;
  }
  .ViewJakoscPowietrza__styleGrid p {
    font-size: 16px;
  }
  .ViewJakoscPowietrza__styleGrid div > img {
    margin: 30px 0px 30px 70px;
  }
  .hoverr {
    font-size: 18px;
  }
}
