
.ViewStart__contener {
    position: relative;
    max-width: 1240px;
    margin: 40px auto 0;
    @media(min-width:950px) {
        margin-top: 60px;
    }
}

.ViewStart__h1 {
    margin: 0px auto;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    
    background-color: black;
}

.ViewStart__h2 {
background-color: white;
font-size: 14px;
width: 100%;
height: 50px;
padding-top: 20px;
text-align: center;
}

.ViewStart_city {
    font-weight: 700;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #1b4778;
    color: white;

    b {
        text-transform: uppercase;
        font-size: 40px;
        margin: 20px 0;
        padding-left: 5px;
    }
    .search__city {
        display: block;
        float: right;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
        input {
            margin: 0 5px;
            width: 60%;
            padding: 2px 6px;
            border-radius: 5px;
            @media(min-width: 300px) {
                width: 70%;
            }
            @media(min-width: 450px) {
                width: 80%;
            }
            @media(min-width: 750px) {
                width: 200px;
                float: right;
                padding: 5px 10px;
            }
            @media(min-width:900px) {
                padding: 8px 15px;
                font-size: 16px;
            }
            @media(min-width:1200px) {
                font-size: 18px;
            }
        }
        button {
            color: white;
            border-radius: 5px;
            text-align: center;
            background-color: #3368a3;
            font-size: 14px;
            cursor: pointer;
            transition: 1s ease-in-out;
            padding: 2px 6px;
            margin: 0 5px 0 0;
            border: none;
            outline: none;
            :hover {
                text-decoration: underline;
            }
            @media(min-width: 750px) {
                float: right;
            }
            @media(min-width: 750px){
                display: inline-block;
                float: right;
                padding: 5px 10px;
            }
            @media(min-width:900px) {
                padding: 8px 15px;
                font-size: 16px;
            }
            @media(min-width:1200px) {
                font-size: 18px;
            }
        }
        
        
    }
}

.ViewStart__temp {
    font-weight: 700;
    height: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    padding-top: 20px;
    border-top: 4px solid #a6c2e2;
    background-color: #1b4778;
    color: white;

    p {
        font-weight: bold;
    }
}
.temperature {
    font-size: 20px;
}
.ViewStart__pogoda {
    background-color: white;
    color: black;
    font-size: 12px;
    background-color: #1b4778;
    color:white;
    padding: 15px 15px 0;
  
    @media(min-width: 255px){
        padding: 10px 10px 0;
    }
    @media(min-width: 1000px){
        padding: 30px 0 0;
    }
}
.img svg {
    fill: red;
}
.ViewStart__img1 {
    filter: invert(100%);
    padding: 30px 0px;
    width: 70px;
    height: 70px;

}
.ViewStart__img .one {
    border-right: 4px solid #a6c2e2;
}
.ViewStart__img {
    
    border-top: 2px solid #a6c2e2;
    border-bottom: 2px solid #a6c2e2;
    background-color: rgb(27, 71, 120);
    text-align: center;

    p{
        margin-bottom: 10px;
    }
}
.ViewStart__imgAlert {
    background-color: rgb(196, 28, 28);
    border-left: 4px solid #a6c2e2;
}

.ViewStart__img > p {
    font-weight: 800;
    font-size: 14px;
    @media(min-width: 300px){
        font-size: 16px;
    }
}

.viewStart_sniezka {
    opacity: 0;
    right: 50px;
    top: 80px;
    position: absolute;
    width: 30px;
    height: 30px;
}
.viewStart_sniezka1 {
    opacity: 0;
    right: 50px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 80px;
}

.hoverr {
    color: red;
}

@media(min-width:500px) {
    .viewStart_sniezka {
        opacity: 1;
        left: 50px;
        position: absolute;
        width: 30px;
        height: 30px;
    }
    .viewStart_sniezka1 {
        opacity: 1;
        right: 50px;
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

@media(min-width:1000px){
    // .viewStart_sniezka, .viewStart_sniezka1 {
    //     width: 60px;
    //     height: 60px;
    //     margin-left: 20%;
    // }
    // .viewStart_sniezka1 {
    //     margin-right: 20%;
    // }
    // .ViewStart__h1 {
    //     font-size: 100px;
    // }

    .ViewStart__pogoda {
        font-size: 14px;
        padding-left: 20px;
    }
    .ViewStart_city {
        padding-bottom: 15px;
        b {
            padding-left: 20px;
            font-size: 50px;
        }
    }
    .ViewStart__temp {
        font-size: 28px;
        padding-bottom: 30px;
    }
    .ViewStart__img1 {
        width: 60px;
        height: 60px;
        padding: 25px 0;
    }
    .ViewStart__img p {
        font-size:  22px;
        color: white;
        padding-bottom: 10px;
    }
    .ViewJakoscPowietrza__styleGrid {
        font-size: 26px;
        p {
            font-size: 26px;
        }
       
        div > img {
            margin: 30px 0px 30px 70px;
            
        }
    .smart {
        filter: invert(100%);
    }
    }
    .hoverr {
        font-size: 18px;
    }
}