.ViewContact__contener {
    background-color: #a6c2e2;
    min-height: 100vh;
}

.ViewContact__ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    font-size: 14px;
    justify-content: center;
}

.ViewContact__ul li {
    width: 70px;
    justify-content: center;
    margin-top: 10px;
    list-style-type: none;
}

.ViewContact__ul span {
    width: 180px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
  
}

.ViewContact__h2 {
    font-size: 20px;
    padding: 20px 0 15px 30px;
}



@media(min-width:400px) {
    .ViewContact__h2 {
        font-size: 22px;
    }
    



    .ViewContact__ul {
        max-width: 350px;
        font-size: 16px;
        padding-left: 20px
    }

    .ViewContact__ul li {
        width: 100px;
    }
    
    .ViewContact__ul span {
        width: 250px;
      
    }
}


@media(min-width:700px) {
    .ViewContact__h2 {
        font-size: 24px;
    }
    


    .ViewContact__ul {
        max-width: 500px;
        font-size: 18px;
        padding-left: 20px
    }

    .ViewContact__ul li {
        width: 150px;
    }
    
    .ViewContact__ul span {
        width: 350px;
      
    }
}