.input__miasto {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid black;
    margin: 10px 0px 10px 10px;
}

.wyswietl__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
}
