<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
    
    var data = null;

var

 xhr = new XMLHttpRequest();
xhr.withCredentials = 

reqtrue;

xhr.addEventListener("readystatechange", function () {
	if (


reqthis.readyState === this.DONE) {
		console.log(this.responseText);
	}
});

xhr.open

	("GET", "https://uk-air-quality.p.rapidapi.com/latestpollutants");
xhr.setRequestHeader("x-rapidapi-host", "uk-air-quality.p.rapidapi.com");
xhr.setRequestHeader("x-rapidapi-key", "40ddf12a2emsh06a2fa2ebef5ecbp10fb02jsn4827ba559849");

xhr.send(data);
    </script>
</body>
</html>