.ViewZanieczyszczenia__contener {
    min-height: 100vh;
    background-color: #a6c2e2;
}

.ViewZanieczyszczenia__wynik {
    width: 250px;
    height: 350px;
    margin: 40px auto;
    text-align: center;
    border-radius: 20px;
}

.ViewZanieczyszczenia__tytul {
    font-size: 15px;
    padding: 30px 0 10px 0;
    text-align: center;
}
.ViewZanieczyszczenia__wynik-miasto {
    padding-top: 20px;
}

.ViewZanieczyszczenia__wynik-zanieczyszczenie {
    width: 70%;
    margin:  20px auto;
    height: 80px;
    border-radius: 20px;
    padding-top: 15px;
    div{
        margin-top: 15px;
    }
}

.ViewZanieczyszczenia__renderowanie {
    margin-top: 20px;
    
}
.ViewZanieczyszczenia__wynik-CO {
    margin-top: 10px;
    div{
        padding-top: 10px;
    }
}

@media (min-width:1000px) {

    .ViewZanieczyszczenia__tytul{
        font-size: 18px;
        font-weight: 700;
    }
    .ViewZanieczyszczenia__wynik {
        width: 450px;
        height: 550px;
    }
    .ViewZanieczyszczenia__wynik-miasto{
        font-size: 18px;
    }
    .ViewZanieczyszczenia__wynik-zanieczyszczenie {
        height: 120px;
        font-size: 20px;
    }
    .ViewZanieczyszczenia__wynik-zanieczyszczenie > div {
        margin-top: 30px;
    }
    .ViewZanieczyszczenia__wynik-CO{
        font-size: 18px;
    }
    .ViewZanieczyszczenia__wynik-CO > div{
        padding-top: 25px;
    }
}




// STYLOWANIE SELECT
.ViewZanieczyszczenia__ustawieniaSelecta {
    width: 230px;
    margin: 0 auto;
}


.ViewZanieczyszczenia__select-css {
	display: block;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .5em .8em;
    width: 200px;
	max-width: 100%;
	box-sizing: border-box;
    border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-align: center;
    align-items: center;
    align-content: center;
}
.ViewZanieczyszczenia__select-css::-ms-expand {
	display: none;
}
.ViewZanieczyszczenia__select-css:hover {
	border-color: #888;
}
.ViewZanieczyszczenia__select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.ViewZanieczyszczenia__select-css option {
	font-weight:normal;
}