.View__quality {
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
  color: white;
  max-width: 1240px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .View__quality {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);
  }
  .View__quality .View__quality-container {
    max-width: 1280px;
  }
  .View__quality .smart {
    display: block;
    margin: 30px auto;
    width: 90px;
    height: 100px;
  }
}

.today-weather {
  max-width: 1240px;
  margin: 30px auto 10px;
  font-size: 20px;
  padding-left: 10px;
}

@media (min-width: 800px) {
  .today-weather {
    font-size: 25px;
  }
}

.smart {
  width: 100px;
  margin-top: 40px;
  filter: invert(100%);
}

.viewPogoda__div {
  justify-items: center;
}

.opis {
  font-weight: bold;
}

.viewPogodaMiejscowa {
  max-width: 1240px;
  padding-bottom: 60px;
}

.viewPogodaMiejscowa > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  align-items: center;
  align-content: center;
  background-color: #ebf0f0;
}

.viewPogodaMiejscowa .view-container-weather {
  border-bottom: 2px solid #f8f8f8;
  border-left: 2px solid #f8f8f8;
  background-color: #d4ebf4;
}

.weather-none {
  display: none;
}

.viewPogodaImages {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
}

.border {
  border-bottom: 2px solid #f8f8f8;
  border-left: 2px solid #f8f8f8;
}

.ViewPogodaImagesDiv {
  display: flex;
  border-bottom: 2px solid #f8f8f8;
  border-left: 2px solid #f8f8f8;
}

.ViewPogodaImagesDiv.end {
  display: flex;
  border-right: 2px solid #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
  border-left: 2px solid #f8f8f8;
}

.viewPogodaMiejscowa {
  display: grid;
  margin: 0px;
  grid-template-columns: repeat(3, 1fr) 60px;
  grid-template-rows: repeat(7, 60px);
  margin: 0px auto;
  text-align: center;
}

.viewPogodaMiejscowa .weather-none {
  display: none;
}

.city {
  padding-left: 10px;
  margin-left: 10px;
  font-weight: 700;
}

@media (min-width: 600px) {
  .viewPogodaMiejscowa {
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr 120px 1fr 120px;
    grid-template-rows: repeat(7, 80px);
  }
  .viewPogodaMiejscowa .weather-none {
    display: none;
  }
  .viewPogodaMiejscowa img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 800px) {
  .viewPogodaMiejscowa {
    grid-template-columns: 1fr repeat(3, 200px);
    grid-template-rows: repeat(5, 100px);
    font-size: 20px;
  }
  .viewPogodaMiejscowa .weather-none {
    display: none;
  }
  .viewPogodaMiejscowa img {
    width: 80px;
    height: 80px;
  }
  .viewPogoda__div {
    text-align: center;
    /* style={{paddingLeft: '10px', fontWeight:'700'}}  */
  }
}

@media (min-width: 1100px) {
  .viewPogodaMiejscowa {
    grid-template-columns: 1fr 200px 150px 180px 180px 150px;
    grid-template-rows: repeat(7, 120px);
    font-size: 25px;
  }
  .viewPogodaMiejscowa .weather-none {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f8f8f8;
    border-left: 2px solid #f8f8f8;
  }
  .viewPogodaMiejscowa div {
    align-items: center;
  }
  .viewPogoda__div {
    text-align: center;
    /* style={{paddingLeft: '10px', fontWeight:'700'}}  */
  }
}
