.ViewStart__contener {
  position: relative;
  margin: 40px auto 0;
}

@media (min-width: 950px) {
  .ViewStart__contener {
    margin-top: 60px;
  }
}

.ViewStart__contener .ViewStart__wrapper {
  background-image: linear-gradient(-45deg, #4c6cd3, #27326d);
  background-repeat: repeat-x;
}

.ViewStart__contener .ViewStart__color {
  max-width: 1240px;
  margin: 0 auto;
}

.ViewStart__h1 {
  margin: 0px auto;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  background-color: black;
}

.ViewStart__h2 {
  background-color: white;
  font-size: 14px;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

.ViewStart_city {
  font-weight: 700;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
}

.ViewStart_city b {
  text-transform: uppercase;
  font-size: 40px;
  margin: 20px 0;
  padding-left: 5px;
}

.ViewStart_city .search__city {
  display: block;
  float: right;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.ViewStart_city .search__city input {
  margin: 0 5px;
  width: 60%;
  padding: 2px 6px;
  border-radius: 5px;
}

@media (min-width: 300px) {
  .ViewStart_city .search__city input {
    width: 70%;
  }
}

@media (min-width: 450px) {
  .ViewStart_city .search__city input {
    width: 80%;
  }
}

@media (min-width: 750px) {
  .ViewStart_city .search__city input {
    width: 200px;
    float: right;
    padding: 5px 10px;
  }
}

@media (min-width: 900px) {
  .ViewStart_city .search__city input {
    padding: 8px 15px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .ViewStart_city .search__city input {
    font-size: 18px;
  }
}

.ViewStart_city .search__city button {
  color: white;
  border-radius: 5px;
  text-align: center;
  background-color: #3368a3;
  font-size: 14px;
  cursor: pointer;
  transition: 1s ease-in-out;
  padding: 2px 6px;
  margin: 0 5px 0 0;
  border: none;
  outline: none;
}

.ViewStart_city .search__city button :hover {
  text-decoration: underline;
}

@media (min-width: 750px) {
  .ViewStart_city .search__city button {
    float: right;
  }
}

@media (min-width: 750px) {
  .ViewStart_city .search__city button {
    display: inline-block;
    float: right;
    padding: 5px 10px;
  }
}

@media (min-width: 900px) {
  .ViewStart_city .search__city button {
    padding: 8px 15px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .ViewStart_city .search__city button {
    font-size: 18px;
  }
}

.ViewStart__temp {
  font-weight: 700;
  height: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  padding-top: 20px;
  border-top: 4px solid #a6c2e2;
  border-right: 4px solid #a6c2e2;
  border-left: 4px solid #a6c2e2;
  color: white;
}

.ViewStart__temp p {
  font-weight: bold;
}

.temperature {
  font-size: 20px;
}

.ViewStart__pogoda {
  color: black;
  font-size: 12px;
  color: white;
  padding: 15px 15px 0;
}

@media (min-width: 255px) {
  .ViewStart__pogoda {
    padding: 10px 10px 0;
  }
}

@media (min-width: 1000px) {
  .ViewStart__pogoda {
    padding: 30px 0 0;
  }
}

.img svg {
  fill: red;
}

.ViewStart__img1 {
  filter: invert(100%);
  padding: 30px 0px;
  width: 70px;
  height: 70px;
}

.ViewStart__img .one {
  border-right: 4px solid #a6c2e2;
  border-left: 4px solid #a6c2e2;
}

.ViewStart__img {
  border-top: 2px solid #a6c2e2;
  border-bottom: 2px solid #a6c2e2;
  border-right: 2px solid #a6c2e2;
  text-align: center;
}

.ViewStart__img p {
  margin-bottom: 10px;
}

.ViewStart__imgAlert {
  background-color: #c41c1c;
  border-left: 4px solid #a6c2e2;
}

.ViewStart__img > p {
  font-weight: 800;
  font-size: 14px;
}

@media (min-width: 300px) {
  .ViewStart__img > p {
    font-size: 16px;
  }
}

.viewStart_sniezka {
  opacity: 0;
  right: 50px;
  top: 80px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.viewStart_sniezka1 {
  opacity: 0;
  right: 50px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 80px;
}

.hoverr {
  color: red;
}

@media (min-width: 500px) {
  .viewStart_sniezka {
    opacity: 1;
    left: 50px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .viewStart_sniezka1 {
    opacity: 1;
    right: 50px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1000px) {
  .ViewStart__pogoda {
    font-size: 14px;
    padding-left: 20px;
  }
  .ViewStart_city {
    padding-bottom: 15px;
  }
  .ViewStart_city b {
    padding-left: 20px;
    font-size: 50px;
  }
  .ViewStart__temp {
    font-size: 28px;
    padding-bottom: 30px;
  }
  .ViewStart__img1 {
    width: 60px;
    height: 60px;
    padding: 25px 0;
  }
  .ViewStart__img p {
    font-size: 22px;
    color: white;
    padding-bottom: 10px;
  }
  .View__quality {
    font-size: 26px;
  }
  .View__quality p {
    font-size: 26px;
  }
  .View__quality div > img {
    margin: 30px 0px 30px 70px;
  }
  .View__quality .smart {
    filter: invert(100%);
  }
  .hoverr {
    font-size: 18px;
  }
}
